
.moviename{
  font-size: 40px;
}
  .booking-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .movie-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .movie-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-details {
    width: 60%; 
    padding: 32px 277px;
  }
  
  .movie-poster {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
  
  .movie-description {
    margin-top: 10px;
    font-size: 1.3rem;
  }
  
  .seating-arrangement {
    flex: 2;
    justify-content: center;
  }
  .seat-category h3{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px; 
    opacity: 0.8;
  }

  .seat-category {
    margin-bottom: 20px;
  }
  
  .seat-rows {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .seat-row {
    display: flex;
    gap: 5px;
  }
  
  .seat {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
  }
  
  .seat.selected {
    background-color: #ff9800;
    color: white;
  }
  
  .booking-form {
    margin-top: 20px;
  }
  
  .form-field {
    margin-bottom: 15px;
    font-size: 20px;
    margin-right: 30px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
 
  .form_field_input{
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 3px;
  }
  
  .form-field-label{
    display: flex;
    flex-direction: column;
    size: 20px;;
    color: #2b2525;
    gap: 12px;
  }

  .form-field-label label{
    margin-bottom: 5px;
  }
  .submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }
  
  .submit-btn:hover {
    background-color: #218838;
  }
  .btn{
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  

  .screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #ccc;
    width: 30%;
    margin: auto;
  }

  .seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: green;
    border: none;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: blue;
  }
  
  .seat.booked {
    background-color: red;
    cursor: not-allowed;
  }
  .book{
    display: flex;
    padding: 0px 20px;
    width: 88%;
    align-items: center;
    text-align: center;
  }

  .book1{
    width: 100%;
  }