/* Header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2d42;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
  .movie-icon {
    margin-right: 8px;
  }
  
  .search-container {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #2b2d42;
    color: white;
    font-size: 16px;
  }
  
  .search-input::placeholder {
    color: white;
  }
  
  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  button.nav-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  