/* AdminProfile.css */

/* Main container */
.admin-profile-container {
    width: 100%;
    display: flex;
    padding: 20px;
  }
  
  /* Profile info container */
  .profile-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  /* Profile icon */
  .profile-icon {
    font-size: 10rem;
    margin-left: 20px;
    color: #2b2d42;
  }
  
  /* Admin email section */
  .admin-email {
    margin-top: 10px;
    padding: 10px;
    width: auto;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  /* Movies container */
  .movies-container {
    justify-content: center;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  /* Heading for added movies */
  .movies-container h3 {
    text-align: center;
    font-family: verdana;
    padding: 10px;
  }
  
  /* Movie list container */
  .movie-list {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  /* Individual movie item styling */
  .admin_profile_movie_item {
    background-color: #00d386;
    color: white;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  