/* General Container */
.user-profile-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  
  /* Profile Info Section */
  .profile-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding:0px 20px;
    text-align: center;
  }
  
  .profile-icon {
    font-size: 10rem;
    margin-bottom: 20px;
  }
  
  .profile-icon i {
    font-size: 6rem;
    color: #00d386;
  }
  
  /* User Info */
  .user-info {
    width: 100%;
  }
  
  .user-info-item {
    padding: 10px;
   font-size: 20px;
   font-weight:bold ;
  }
  
  /* Bookings Section */
  .bookings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .bookings-title {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0px;
    font-size: 2rem;
  }
  
  .booking-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    width: 100%;
  }
  
  .booking-item {
    background-color: #00d386;
    color: white;
    text-align: center;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
  }
  
  .booking-details {
    margin: 10px 0;
    text-align: left;
  }
  
  .delete-button {
    background-color: #ff4c4c;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #ff0000;
  }
  